
<!DOCTYPE html>
<head>
    <meta charset="utf-8"/>
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" rel="stylesheet" type="text/css"/>
</head>

<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        </button>
        <a href="/" class="navbar-brand">Cyber-Pix</a>
    </div>
</nav>

<div class="container">
    <div class="row">
        {% block main %}
        {% endblock %}
    </div>

    <div class="row">
        <footer>
            <hr>
            <p>By <a href="https://github.com/Caly343">Caly</a> © 2015</p>
        </footer>
    </div>
</div>

<script src="{{ url_for('static', filename='requests.js')  }}"></script>
<script src="{{ url_for('static', filename='pix.js')  }}"></script>
</body>
