{% extends "base.html" %}

{% block main %}
	<form id="form_send_file" method="POST" action="#">
	    <input type="file" id="selected_file" name="pic" accept="image/*">
	    <input type="submit" id="send_file" value="Envoyer"/>
	 </form>
    <hr>

    <div class="row" id="latest_pictures">
    	<h3>Dernières images</h3>
    </div>
{% endblock %}
 